/*-- INIT Selectors --*/
*{
    margin: 0;
	padding: 0;
}

/* -- INIT Tags -- */
html{
    height: 100%;
}

body{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000, #024470 74%);
    display: flex;
}

/*-- INIT Identifiers -- */

#hamburgerMenu{
    color: white;
    font-size: 50px;
}

#mainTitle{
    color: white;
}

#userConfig{
    color: white;
    font-size: 50px;
}

#welcomeUser{
    color: white;
}

/* -- INIT Classes -- */

.closeButton{
    background: transparent;
    border: 0px;
    color: white;
    font-size: 30px;
}

.modalFooterStyle{
    background-color: #024470;
}

.modalHeaderStyle{
    background-color: #024470;
    color: white;
}