/*-- INIT Selectors --*/
*{
    margin: 0;
	padding: 0;
}

/* -- INIT Tags -- */
html{
    height: 100%;
}

body{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000, #024470 74%);
}

/*-- INIT Identifiers -- */

#addUser{
    font-size: 45px;
    color: white;
    cursor: pointer;
}

#editUser{
    font-size: 45px;
    color: white;
    cursor: pointer;
}

#hamburgerMenu{
    color: white;
    font-size: 50px;
}

#mainTitle{
    color: white;
}

#userConfig{
    color: white;
    font-size: 50px;
}

/* -- INIT Classes -- */

